body{
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    
    box-sizing: border-box;
}
.about_header{
    
   
    background-color:#101010;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
  padding-left: 10px;
  vertical-align: middle;
  box-shadow: 0px 2px 7px #11121E;
}
.header_title{
  color: white;
  vertical-align: middle;
  font-family: fantasy;
 
  
  
   
   margin-top: 0;
   
   font-size: 20px;
  padding-top: 10px;
 
   
   
}
.menu li{
    display: inline-block;
    justify-content: space-between;
    vertical-align: middle;
    list-style: none;
    
    padding-bottom: 0px;
      padding-right: 5px;
      font-family: fantasy;
}
.menu li a:link{
 
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #DEE1FF;
  list-style: none;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  
 
}
.menu li a:visited{
    color: #DEE1FF;
}
.menu li a{
    transition: all 0.3s ease-in-out 0s; 
    padding: 10px;
   
}
    

.menu li a:active{
   color: #DEE1FF;
}
.menu li a:hover{
    color: #121212;
    
    background: white;
    border-radius: 15px;
}
.menu{
    padding: 10px;
}
.card{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    
    background-color: #171717;
    width: 450px;
    
    align-content: center;
    
    border-radius: 30px;
    box-shadow: 2px 2px 30px #11121E;
    
}
.aboutImg{
    width: 100%;
    background-color: black;
    height: 350px;
   
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
    
   
   
   
}
.author_name{
    color: darkkhaki;
    font-family: fantasy;
    font-size: 32px;
    padding-left: 30px;
    text-decoration: underline;
    line-height: 40px;
    
}
.author_description{
    color: white;
    font-family: fantasy;
    font-size:15px;
    padding-left: 30px;
}

.social_link li{
    display: inline-block;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    
    padding-right:40px;
   padding-top: 30px;
    font-size: 15px;
}
.social_link{
    padding-left: 120px;
    padding-bottom: 30px;
}
.social_link li a{
    text-decoration: none;
    color: #121212;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    font-family: fantasy;
    font-weight: bold;
}
.social_link li a:hover{
    background-color: #3E332A;
    color: white;
}